.footer {
    border-radius: 0.9rem 0.9rem 0 0;

    &__listwrapper {
        & ul {
            list-style: none;
        }

        & a {
            font-weight: 300;
            font-size: 1.8rem;
        }
    }
}