<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include ('_essentials/_seo') %}
    {% include ('_essentials/_favicon') %}

  </head>
  <body>
      <main id="main">
          {% block main %}{% endblock %}
      </main>

  </body>
</html>