<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    {% include ('_essentials/_seo') %}
    {% include ('_essentials/_favicon') %}

  </head>
  <body class="light-theme js-loading overflow-hidden">
    {% include ('_partials/_header') %}
    {% include ('_partials/_loading') %}

    <div class="js-scrollsmoother">
      <div id="smooth-wrapper">
        <div id="smooth-content">
          <main id="main" class="js-animations">
            {% block main %}{% endblock %}
          </main>

          {% include ('_partials/_footer') %}
        </div>
      </div>
    </div>


    {% include ('_partials/_cursors') %}

    <script src="/assets/js/polyfills.js"></script>
    <script src="/assets/js/main.js" async></script>
  </body>
</html>