{% set systemTranslations = systemTranslations.systemTranslations %}

<div class="multitext">
    <a onclick="window.history.go(-1);" class="c-p d-flex justify-content-start align-items-center gap-5 mt-6 linkSmallCursor" alt="Back">
        <svg width="36" height="16" viewBox="0 0 36 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.825 7L36 7V9L3.825 9L9.425 14.6L8 16L0 8L8 0L9.425 1.4L3.825 7Z" fill="black"/>
        </svg>
        {{ systemTranslations.back }}
    </a>
    <div class="multitext__inner pt-6 mt-6">
        <div class="col-12 col-lg-6 mb-6">
            {% for text in entry.multitext.all() %}
                {{ text.textblock }}
            {% endfor %}
        </div>
    </div>
</div>