<div class="multitext">
    <div class="multitext__inner pt-6 mt-6">
        <div class="col-12 col-lg-6 mb-6">
            {% for text in entry.multitext.all() %}
                {{ text.textblock }}
            {% endfor %}
        </div>
    </div>
</div>