<div class="video d-flex justify-content-center js-video">
  <div class="video__play">
    <svg>
      <path d="M80 40C80 62.0914 62.0914 80 40 80C17.9086 80 0 62.0914 0 40C0 17.9086 17.9086 0 40 0C62.0914 0 80 17.9086 80 40Z" fill="#202020"/>
      <path d="M53.25 38.9623C54.5833 39.7321 54.5833 41.6566 53.25 42.4264L33 54.1177C31.6667 54.8875 30 53.9253 30 52.3857V29.003C30 27.4634 31.6667 26.5011 33 27.2709L53.25 38.9623Z" fill="#E5AC01"/>
    </svg>
  </div>
  <video class="video__video c-p col-12 col-xl-10 mx-auto border-radius-6" poster="{{block.poster.one().url}}">
    <source src="{{block.video.one().url}}" type="video/mp4">
    Your browser does not support this video
  </video>
</div>