<div class="easteregg__scoreboard d-none js-easteregg p-3 border-radius-6">
    <h2 class="easeregg__scoreboard--title mt-0">Scoreboard</h2>

    <div class="easteregg__scoreboard--container d-grid mb-6">
        <div class="easteregg__scoreboard--item mb-4">
            <span class="easteregg__scoreboard- me-2">Player</span>
            <span class="easteregg__scoreboard- me-2">Name</span>
            <span class="easteregg__scoreboard-">Score</span>
        </div>
        <div class="easteregg__scoreboard--item">
            <span class="easteregg__scoreboard--nr me-6">1.</span>
            <span class="easteregg__scoreboard--initials me-2"></span>
            <span class="easteregg__scoreboard--score">0</span>
        </div>
    </div>
    <a class="easteregg__quit c-p">Abandon Quest</a>
</div>
