.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}

hr {
  margin: 9.2rem 0;
}

// Background colors
.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-gray-100 {
  background-color: $gray-100 !important;
}

.bg-gray-200 {
  background-color: $gray-200 !important;
}

.bg-gray-300 {
  background-color: $gray-300 !important;
}

.bg-gray-400 {
  background-color: $gray-400 !important;
}

// Text colors
.color-primary {
  color: $primary;
}
.color-secondary {
  color: $secondary;
}

.link-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.no-scroll {
  overflow: hidden !important
}

// cursort pointer
.c-p {
  cursor: pointer;
}

.mono {
  font-family: $font-family-monospace;
}

.light-theme {
  background-color: $background-color;
  color: $secondary;

  .cursor-big {
    background-color: #E5AC01;
  }

  .cursor-small {
    background-color: #202020;
  }

  .easteregg__herotext {
    color: #faf9f6 !important;
  }
}

.dark-theme {
  background-color: $secondary;
  color: $background-color;
  border-color: $background-color !important;

  .easteregg__herotext {
    color: $secondary !important;
  }
  
  & a {
    border-color: #3f3f3d !important;
    color: $background-color;
  }
  
  & svg path {
    fill: $background-color !important;
  }

  .cursor-big {
    background-color: $secondary;
  }

  .cursor-small {
    background-color: $primary;
  }

  .contact {
    & input, textarea, .contact__form__checkbox--checkbox, .contact__form__checkbox--checkmark::after {
      border-color: $background-color;
      color: $background-color;
    }

    & label {
      color: $background-color;
    }

    & button {
      color: $background-color;
    }

    & {
      border: 0.1rem solid $secondary;
    }
  }
}

.border-radius-6 {
  border-radius: 0.6rem;
}

#main {
  padding: 2.4rem;
  overflow: hidden;
  position: relative;

  @include md-up {
    padding: 4.8rem;
  }
  
  @include xxl-up {
    padding: 4.8rem 7.2rem;
  }  
}